
<div
  [ngClass]="service.getBgColor(currentWeather?.timezone, currentWeather?.dt, forecast?.city?.sunset, forecast?.city?.sunrise)">
    <div class="container">
        <div class="location d-flex justify-content-center">
          <input class="input_location" ngx-google-places-autocomplete
                 placeholder="enter location"
                 (onAddressChange)="handleAddressChange($event)"
                 [(ngModel)]="inputModel">

        </div>
        <app-current-weather
        [userPlace]="userPlace"></app-current-weather>

        <app-forecast-preview></app-forecast-preview>

    </div>
    <app-footer></app-footer>
</div>

